* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background-color:  #e66645;
  color: white;
}

a {
	color: white;
}

a:hover {
	color: white;
	text-decoration: none;
}

/* Start of header. */
header {
  background-color: #e66645;
  color: white;
}

#about, #instructions {
	position: relative;
	top: 15px;
}

#title {
	border-left: 2px double white;
	border-right: 2px double white;
}

#about-description, #instructions-description {
	background-color: #ff9980;
	display: none;
	position: absolute;
	padding: 10px;
}
/* End of header. */

/* Start of main. */
main {
	background-color: #fff;
	padding: 100px 0;
}
/* End of main. */

/* Start of Footer. */
footer {
	background-color: #e66645;
	padding: 40px 0;
	font-size: 20px;
}

footer a {
	display: inline-block;
	color: white;
}

footer a:hover {
	animation: footer-link 2.5s linear 0s infinite normal;
	color: black;
}

@keyframes footer-link {
  50% {box-shadow: 100px 0px 100px 10px #ffd980; color: #ffd980;}
}

/* End of footer. */

/* Start of footer.
footer {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
}

#contact-title {
  padding: 0;
  margin-top: 20px;
}

h2 {
  display: inline-block;
  border-bottom: goldenrod 2px solid;
}

.link {
  display: inline-block;
  text-align: center;
  padding: 2em;
}

.link a:hover {
  animation: animateIcons 2s linear infinite;
}

@keyframes animateIcons {
  50% {color: goldenrod;}
}

footer a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

footer a p {
	margin-top: 1em;
}
End of footer. */